* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #141414;
  color: white;
  overflow-x: hidden;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
}

.movie-rows {
  padding-top: 20px;
  padding-bottom: 50px;
}

